<div class="person-edit">
  <header class="person-edit__header">
    <h1 class="person-edit__title">Edit Person</h1>
    <div class="person-edit__actions">
      <button tuiButton type="button" (click)="cancel()">Cancel</button>
      <button tuiButton type="submit" (click)="onSubmit()" [disabled]="personForm.invalid">Save Changes</button>
    </div>
  </header>

  @if (loading()) {
    <div class="person-edit__loading">Loading person...</div>
  } @else {
    <form class="person-edit__form" [formGroup]="personForm">
      <div class="person-edit__field">
        <label for="first_name" class="person-edit__label">First Name *</label>
        <input
          id="first_name"
          type="text"
          formControlName="first_name"
          class="person-edit__input"
          [class.person-edit__input--invalid]="personForm.get('first_name')?.touched && personForm.get('first_name')?.invalid"
        />
        @if (personForm.get('first_name')?.touched && personForm.get('first_name')?.errors?.['required']) {
          <div class="person-edit__error">First name is required</div>
        }
      </div>

      <div class="person-edit__field">
        <label for="second_name" class="person-edit__label">Second Name</label>
        <input
          id="second_name"
          type="text"
          formControlName="second_name"
          class="person-edit__input"
        />
      </div>

      <div class="person-edit__field">
        <label for="person_eesl_id" class="person-edit__label">EESL ID</label>
        <input
          id="person_eesl_id"
          type="number"
          formControlName="person_eesl_id"
          class="person-edit__input"
        />
      </div>

      <div class="person-edit__field">
        <label for="person_dob" class="person-edit__label">Date of Birth</label>
        <input
          id="person_dob"
          type="date"
          formControlName="person_dob"
          class="person-edit__input"
        />
      </div>

      <div class="person-edit__field">
        <app-image-upload
          label="Photo"
          mode="three-size"
          [currentUrls]="displayPhotoUrls()"
          [uploading]="photoUploadLoading()"
          (upload)="onPhotoUpload($event)"
          (remove)="onPhotoRemove()"
        />
      </div>
    </form>
  }
</div>
