@if (tournament(); as t) {
  <div class="tournament-detail">
    <app-entity-header
      [title]="t.title"
      [logoUrl]="tournamentLogoUrl()"
      [customMenuItems]="customMenuItems()"
      (navigateBack)="navigateBack()"
      (edit)="navigateToEdit()"
      (delete)="deleteTournament()"
      (customItemClick)="onCustomItemClick($event)"
    />

    <div class="tournament-detail__subnav">
      <app-tabs-nav
        class="tournament-detail__tabs"
        [tabs]="tabs"
        [activeTab]="activeTab()"
        appearance="segmented"
        segmentedSize="l"
        (tabChange)="onTabChange($event)"
      />
    </div>

    @if (activeTab() === 'matches') {
      <app-tournament-matches-tab
        [tournamentId]="tournamentId()!"
        [sportId]="sportId()!"
        [year]="year()"
      />
    } @else if (activeTab() === 'teams') {
      <app-tournament-teams-tab
        [tournamentId]="tournamentId()!"
        [sportId]="sportId()!"
        [selectedSeasonYear]="year()"
      />
    } @else if (activeTab() === 'players') {
      <app-tournament-players-tab
        [tournamentId]="tournamentId()!"
        [sportId]="sportId()!"
        [year]="year()"
      />
    }
  </div>
} @else {
  <div class="tournament-detail__not-found">Tournament not found</div>
}
