<app-collapsible-section title="Display Settings" sectionKey="scoreboard-settings">
  <ng-template>
    <div class="settings-forms">
      <app-scoreboard-display-settings
        [localShowQtr]="localShowQtr()"
        [localShowTime]="localShowTime()"
        [localShowPlayClock]="localShowPlayClock()"
        [localShowDownDistance]="localShowDownDistance()"
        [localLanguageCode]="localLanguage()"
        (toggleQtr)="onToggleQtr($event)"
        (toggleTime)="onToggleTime($event)"
        (togglePlayClock)="onTogglePlayClock($event)"
        (toggleDownDistance)="onToggleDownDistance($event)"
        (languageChange)="onLanguageChange($event)"
      />

      <app-scoreboard-team-settings
        [teamAColor]="teamAColor()"
        [teamBColor]="teamBColor()"
        [teamAGameTitle]="teamAGameTitle()"
        [teamBGameTitle]="teamBGameTitle()"
        [teamAGameLogo]="teamAGameLogo()"
        [teamBGameLogo]="teamBGameLogo()"
        [logoAScale]="logoAScale()"
        [logoBScale]="logoBScale()"
        [localUseTeamAColor]="localUseTeamAColor()"
        [localUseTeamBColor]="localUseTeamBColor()"
        [localUseTeamATitle]="localUseTeamATitle()"
        [localUseTeamBTitle]="localUseTeamBTitle()"
        [localUseTeamALogo]="localUseTeamALogo()"
        [localUseTeamBLogo]="localUseTeamBLogo()"
        [uploadingTeamALogo]="uploadingTeamALogo()"
        [uploadingTeamBLogo]="uploadingTeamBLogo()"
        (teamAColorChange)="onTeamAColorInputChange($event)"
        (teamBColorChange)="onTeamBColorInputChange($event)"
        (teamAGameTitleChange)="onTeamAGameTitleInputChange($event)"
        (teamBGameTitleChange)="onTeamBGameTitleInputChange($event)"
        (toggleUseTeamAColor)="onToggleUseTeamAColor($event)"
        (toggleUseTeamBColor)="onToggleUseTeamBColor($event)"
        (toggleUseTeamATitle)="onToggleUseTeamATitle($event)"
        (toggleUseTeamBTitle)="onToggleUseTeamBTitle($event)"
        (toggleUseTeamALogo)="onToggleUseTeamALogo($event)"
        (toggleUseTeamBLogo)="onToggleUseTeamBLogo($event)"
        (teamALogoFileSelected)="onTeamALogoFileSelected($event)"
        (teamBLogoFileSelected)="onTeamBLogoFileSelected($event)"
        (removeTeamALogo)="removeTeamALogo()"
        (removeTeamBLogo)="removeTeamBLogo()"
        (logoAScaleChange)="onLogoAScaleChange($event)"
        (logoBScaleChange)="onLogoBScaleChange($event)"
      />

      <app-scoreboard-sponsor-settings
        [localShowTournamentLogo]="localShowTournamentLogo()"
        [localShowMainSponsor]="localShowMainSponsor()"
        [localShowSponsorLine]="localShowSponsorLine()"
        [localUseMatchSponsors]="localUseMatchSponsors()"
        [tournamentLogoScale]="tournamentLogoScale()"
        [mainSponsorScale]="mainSponsorScale()"
        (toggleTournamentLogo)="onToggleTournamentLogo($event)"
        (toggleMainSponsor)="onToggleMainSponsor($event)"
        (toggleSponsorLine)="onToggleSponsorLine($event)"
        (toggleUseMatchSponsors)="onToggleUseMatchSponsors($event)"
        (tournamentLogoScaleChange)="onTournamentLogoScaleChange($event)"
        (mainSponsorScaleChange)="onMainSponsorScaleChange($event)"
      />
    </div>
  </ng-template>
</app-collapsible-section>
