<div class="person-detail">
  @if (loading()) {
    <div class="person-detail__loading">Loading person...</div>
  } @else if (person()) {
    <app-entity-header
      [title]="personName()"
      [navigateBack]="navigateBack.bind(this)"
      (edit)="navigateToEdit()"
      (delete)="deletePerson()"
    />

    <div class="person-detail__content">
      <section class="person-detail__section">
        <h2 class="person-detail__section-title">Details</h2>
        <div class="person-detail__details">
          <div class="person-detail__detail">
            <span class="person-detail__label">First Name:</span>
            <span>{{ person()!.first_name }}</span>
          </div>
          <div class="person-detail__detail">
            <span class="person-detail__label">Second Name:</span>
            <span>{{ person()!.second_name }}</span>
          </div>
          @if (person()!.person_photo_url) {
            <div class="person-detail__detail">
              <span class="person-detail__label">Photo:</span>
              <img [src]="photoUrl()" alt="Person photo" class="person-detail__photo" />
            </div>
          }
        </div>
      </section>
    </div>
  } @else {
    <div class="person-detail__not-found">Person not found</div>
  }
</div>
