<div class="person-list">
  <h1>Persons</h1>

  @if (loading()) {
    <div class="loading">Loading persons...</div>
  } @else if (error()) {
    <div class="error">Error loading persons</div>
  } @else {
    <table
      tuiTable
      [columns]="columns"
      [direction]="sortDirection()"
      [tuiSortBy]="sortBy()"
      (tuiSortChange)="onSortChange($event)">
      <thead>
        <tr tuiThGroup>
          <th *tuiHead="'first_name'" tuiSortable tuiTh>
            First Name
          </th>
          <th *tuiHead="'second_name'" tuiSortable tuiTh>
            Second Name
          </th>
          <th *tuiHead="'person_photo_url'" tuiTh [sorter]="null">
            Photo
          </th>
        </tr>
      </thead>
      <tbody tuiTbody [data]="sortedPersons()">
        @for (person of sortedPersons(); track person.id) {
          <tr tuiTr>
            <td *tuiCell="'first_name'" tuiTd>{{ person.first_name }}</td>
            <td *tuiCell="'second_name'" tuiTd>{{ person.second_name }}</td>
            <td *tuiCell="'person_photo_url'" tuiTd>
              @if (person.person_photo_url) {
                <img [src]="person.person_photo_url" alt="{{ person.first_name }} {{ person.second_name }}" />
              } @else {
                <span>No photo</span>
              }
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td [colSpan]="columns.length">
            <tui-table-pagination
              [items]="itemsPerPageOptions"
              [page]="page()"
              [size]="size()"
              [total]="sortedPersons().length"
              (paginationChange)="onPaginationChange($event)" />
          </td>
        </tr>
      </tfoot>
    </table>
  }
</div>
