<div class="sport-list">
  <header class="sport-list__header">
    <h1 class="sport-list__title">Sports</h1>
    @if (isAdmin()) {
      <button tuiButton type="button" class="sport-list__add-button" (click)="navigateToCreate()">
        Add Sport
      </button>
    }
  </header>

  @if (loading()) {
    <div class="sport-list__loading">
      <tui-loader size="l" />
    </div>
  } @else if (error()) {
    <div class="sport-list__error">Error loading sports: {{ error()?.message }}</div>
  } @else if (sports().length === 0) {
    <div class="sport-list__empty">No sports found</div>
  } @else {
    <div class="sport-list__items">
      @for (sport of sports(); track sport.id) {
        <div class="sport-list__card" tuiAppearance="floating" tuiCardLarge tuiCell="l" (click)="navigateToDetail(sport.id)">
          <div tuiTitle>
            {{ sport.title }}
            @if (sport.description) {
              <div tuiSubtitle>{{ sport.description }}</div>
            }
          </div>
        </div>
      }
    </div>
  }
</div>
