<app-collapsible-section title="Quarter" sectionKey="scoreboard-qtr">
  <ng-template>
    <div class="qtr-forms">
      <div class="quarter-buttons">
        @for (option of quarterOptions; track option.value) {
          <button
            tuiButton
            type="button"
            [appearance]="isSelected(option.value) ? 'primary' : 'secondary'"
            size="m"
            (click)="onQuarterSelect(option.value)"
          >
            {{ option.label }}
          </button>
        }
      </div>
    </div>
  </ng-template>
</app-collapsible-section>
