name: Build and Push Docker Image

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: arc-runner-set

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Get Git Tag
      id: get_tag
      run: |
        TAG=$(git describe --tags --always)
        echo "tag=$TAG" >> $GITHUB_OUTPUT
        echo "Git tag: $TAG"

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Docker image (production)
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:latest
          ${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:${{ steps.get_tag.outputs.tag }}
          ${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:prod
        build-args: BUILD_CONFIG=production
        cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:buildcache
        cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:buildcache,mode=max

    - name: Build and push Docker image (development)
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:dev
        build-args: BUILD_CONFIG=development
        cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:buildcache
