name: Build and Push Docker Image

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: arc-runner-set
    container:
      image: gcr.io/kaniko-project/executor:latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Get Git Tag
      id: get_tag
      run: |
        TAG=$(git describe --tags --always)
        echo "tag=$TAG" >> $GITHUB_OUTPUT
        echo "Git tag: $TAG"

    - name: Configure Docker Hub credentials
      run: |
        mkdir -p /kaniko/.docker
        echo '{"auths":{"https://index.docker.io/v1/":{"auth":"'$(echo -n "${{ secrets.DOCKERHUB_USERNAME }}:${{ secrets.DOCKERHUB_TOKEN }}" | base64 -w0)'"}}}' > /kaniko/.docker/config.json

    - name: Build and push Docker image (production)
      run: |
        /kaniko/executor \
          --dockerfile=Dockerfile \
          --context=. \
          --destination=${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:latest \
          --destination=${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:${{ steps.get_tag.outputs.tag }} \
          --destination=${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:prod \
          --build-arg BUILD_CONFIG=production \
          --cache=true \
          --cache-repo=${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:buildcache

    - name: Build and push Docker image (development)
      run: |
        /kaniko/executor \
          --dockerfile=Dockerfile \
          --context=. \
          --destination=${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:dev \
          --build-arg BUILD_CONFIG=development \
          --cache=true \
          --cache-repo=${{ secrets.DOCKERHUB_USERNAME }}/statsboards-frontend:buildcache
